<%- include("./particals/header.ejs") %> <%- include("./particals/navbar.ejs")
%>
<div class="container mt-5">
  <h1>Home Page</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ea magni
    facilis quaerat, ut cum quos quia est commodi assumenda, dolorum veniam ab
    illum corrupti unde earum perferendis omnis temporibus esse eos, laudantium
    rem? Exercitationem nam aperiam, esse beatae natus dignissimos excepturi
    architecto. Veniam pariatur natus nulla obcaecati, fugit delectus!
  </p>
</div>
<%- include("./particals/footer.ejs") %>
